name: Deploy to Vercel Production

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
      VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
      VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
      VERCEL_GIT_COMMIT_AUTHOR_LOGIN: dan-kin
      VERCEL_GIT_COMMIT_AUTHOR_NAME: Dan-kin
      VERCEL_GIT_COMMIT_AUTHOR_EMAIL: jindan419@gmail.com
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Vercel CLI
        run: npm install --global vercel@latest

      - name: Pull Vercel Project Settings
        run: vercel pull --yes --environment=production --token="$VERCEL_TOKEN"

      - name: Build
        run: vercel build --prod --token="$VERCEL_TOKEN"

      - name: Deploy
        run: vercel deploy --prebuilt --prod --token="$VERCEL_TOKEN"
